.projets-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.projet {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  width: 300px;
  border: 1px solid #000;
  text-align: center;  
  padding-bottom: 10px;  
}

.projet img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 200px;
}

.carte:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 28px …;
}

.carte-image {
  height: 160px;
  background: #C0DD97;
}

.barre-progression {
  background: #639922;
  width: 74%;
  height: 6px;
  border-radius: 99px;
}

.carte-bouton {
  background: #3B6D11;
  color: white;
  border-radius: 8px;
  margin-top: 10px;  
}

.bouton-suppr {
  background: red;
  color: white;
  border-radius: 8px;
  margin-top: 10px;  
}

#PLUS {
  position: absolute;
  left: 45%;
  bottom: 10%;
  font-size: 20px;
}

#formulaire{
  position: absolute;
  left: 45%;
  bottom: 10%;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
  display:none;
}